@page
@using CeilInnHotelSystem.Model;
@using Microsoft.AspNetCore.Identity;
@model CeilInnHotelSystem.Pages.OccupancyPage.AddOccupancyModel
@inject UserManager<AppUser> _UserManager
@{
}

<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        @*<div class="title">
                        <h4>Form</h4>
                        </div>*@
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/OccupancyPage/Occupancy">Occupancy List</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Assign Room</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <form method="post">
                    <input type="hidden" asp-for="OccupancyAddModel.EmployeeId" value="@_UserManager.GetUserId(User)" />
                    <label>Room</label>
                    <div class="form-group mt-2">
                        <select asp-for="OccupancyAddModel.RoomId" class="custom-select2 form-control" style="width: 30%; height: 38px;">
                            @foreach (var item in Model.RoomList)
                            {
                                <option value="@item.Id">@item.RoomType - @item.BedType</option>
                            }
                        </select>
                    </div>
                    <label>Customer</label>
                    <div class="form-group mt-2">
                        <select asp-for="OccupancyAddModel.CustomerId" class="custom-select2 form-control" style="width: 30%; height: 38px;">
                            @foreach (var item in Model.CustomerList)
                            {
                                <option value="@item.Id">@item.FirstName @item.LastName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group mt-2">
                        <label class="control-label"> Date</label>
                        <input asp-for="OccupancyAddModel.DateOccupied" class="form-control" style="width: 30%; height: 38px;" />
                        <span asp-validation-for="OccupancyAddModel.DateOccupied" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label class="control-label">Rate Applied</label>
                        <input asp-for="OccupancyAddModel.RateApplied" class="form-control" style="width: 30%; height: 38px;" />
                        <span asp-validation-for="OccupancyAddModel.RateApplied" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label class="control-label"> Phone Charge</label>
                        <input asp-for="OccupancyAddModel.PhoneCharge" class="form-control" style="width: 30%; height: 38px;" />
                        <span asp-validation-for="OccupancyAddModel.PhoneCharge" class="text-danger"></span>
                    </div>
                    <div class="btn-list">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-page="ClassRoom" type="submit" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
            <!-- Default Basic Forms End -->

        </div>
    </div>
</div>
